.photo-grid {
  margin: 0 auto;
  padding-top: 92px;
}

@media (max-width: 768px) {
  .photo-grid {
    padding-top: 88px;
  }
}

@media screen and (max-width: 670px) {
  .photo-grid {
    display: block;
    padding: 64px 16px 0 16px;
  }
}
