.places {
  margin: 0 auto;
  padding-top: 60px;
  max-width: 984px;
}

@media (max-width: 1024px) {
  .places {
    margin-left: 38px;
    margin-right: 38px;
  }
}

@media (max-width: 768px) {
  .places {
    padding-top: 63px;
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media screen and (max-width: 692px) {
  .places {
    margin: 0 auto;
    padding-top: 14px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
