.place__image {
  margin: 0;
  max-width: 100%;
}

@media screen and (max-width: 670px) {
  .place__image {
    margin: 16px 0 29px 16px;
    padding: 0;
  }
}

@media screen and (max-width: 510px) {
  .place__image {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
