.footer__links {
  margin: 0;
  color: #fff;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

@media screen and (max-width: 670px) {
  .footer__links {
    flex-direction: column;
  }
}
