.header__container {

}
@media (max-width: 1024px) {
  .header__container {
    padding-top: 28px;
    padding-bottom: 48px;
  }
}
@media screen and (max-width: 692px)
{
.header__container {
    max-width: 288px;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 48px;
    min-height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

