.place {
  display: grid;
  gap: 48px 40px;
  grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
  grid-auto-rows: minmax(76px, auto);
}

@media (max-width: 1024px) {
  .place {
    grid-template-columns: 47.4% auto;
    gap: 48px 32px;
  }
}

@media (max-width: 768px) {
  .place {
    gap: 45px 28px;
    grid-template-columns: minmax(300px, 340px) minmax(288px, 352px);
  }
}

@media screen and (max-width: 670px) {
  .place {
    max-width: 100%;
    display: block;
  }
}
