.footer {
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 24px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

@media screen and (max-width: 670px) {
  .footer {
    display: block;
    padding-left: 16px;
  }
}
