.intro__title {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  text-align: start;
}

@media screen and (max-width: 670px) {
  .intro__title {
    font-size: 32px;
    line-height: 104%;
    padding-right: 40px;
  }
}
